.par2 {

	&__page {
		background-image: url("../img/main/par2.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left top;
	}

	&__wrap {
		width: 916px;
		display: flex;
		justify-content: flex-end;
		margin: 0 auto;
		padding: 64px 0;
		line-height: 1.5em;
	}

	&__text {
		width: 682px;
		background: #fbfbfb;
	}

}