.preim {

	&__page {
		background: $accent;
		box-shadow: 0 3px 6px rgba(0,0,0, .16);
	}

	&__wrap {
		width: 916px;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		padding: 50px 0 104px 0;
		color: #fff;
	}

	&__item {
		width: 448px;
		text-align: center;
	}

	&__name {
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 16px;

		span {
			font-family: "Playfair Display";
			font-weight: 700;
			font-size: 64px;
			text-shadow: 0 1px 2px rgba(0,0,0, .2);
		}

	}

	&__text {
		line-height: 1.5em;
		margin-bottom: 24px;
	}

	&__btn {
		width: 292px;
		border-radius: 40px;
		border: 1px solid #ddd;
		text-transform: uppercase;
		font-weight: 500;
		padding: 16px;
		color: #fff;
		margin: 0 auto;
		display: block;
		transition: .4s;

		&:hover {
			color: $accent;
			background: #fff;
		}

	}

}