.target {

	&__wrap {
		width: 916px;
		margin: 33px auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__content {
		width: 604px;
	}

	&__name {
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 24px;
	}

	&__text {
		line-height: 1.5em;
	}

	&__img {
		width: 292px;
	}

}